body {
    margin: 0;
    padding: 0;
}

.navbar {
    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;

    margin-top: 2rem;
    display: grid;
    place-content: center;
    place-items: center;
    text-decoration: none;
    border-bottom: 10px solid #c3cbcc;
    @include forHeaderFont;

    .navbar-brand {
        @include forHeaderFont;
    }
    

    .d-flex{
        inline-size: 40rem;
        input{
            @include forHeaderFont;
            font-weight: 500;
        }
        button{
            @include forHeaderFont;
            font-weight: 500;
        }
    }

    .nav-item {
        padding-left: 30px;
        @include forHeaderFont;
        

        svg {
            height: 30px;
            width: 30px;
        }
    }
}